/**
 * Build-in PSML styles
 */
@page {
    size: A4;
    margin: 24mm 20mm;
}

document {
    color: #222;
    display: block;
    font-family: Helvetica, sans-serif;
    font-size: 10pt;
    margin: 0;
    padding: 0;
}

fragmentinfo, metadata, versions, reversexrefs {
    display: none;
}

section, fragment {
    display: block;
}

/* Table of contents */

toc[toc-tree] {
    display: block;
    page-break-before: always;
    page-break-after: always;
}

toc-tree::before {
    content: 'Table of Contents';
    display: block;
    font-size: 18pt;
    font-weight: bold;
    margin-bottom: 1em;
}

toc-part {
    display: block;
    font-size: 10pt;
}

toc-part > toc-part {
    font-size: 9pt;
    margin-left: 5mm;
}

toc-part link {
    display: block;
}

toc-part link::before {
    content: attr(prefix) ' \00a0';
}

toc-part link::after {
    content: leader(dotted) target-counter(attr(href), page);
}

toc-part[level='1']>link {
    font-weight: bold;
    margin: 1.5mm 0;
}

/* Heading styles */

heading, section > title {
    color: #222;
    display: block;
    font-weight: bold;
    line-height: 1.25;      /* Tighter line height for headings */
    margin-top: 1.5em;      /* Clear separation from preceding content */
    margin-bottom: 0.5em;   /* Closer relationship to following content */
    page-break-after: avoid;
}

heading[level='1'] {
    font-size: 32pt;
}

heading[level='2'],
section > title {
    font-size: 18pt;
}

heading[level='3'] {
    font-size: 15pt;
}

heading[level='4'] {
    font-size: 12pt;
}

heading[level='5'] {
    font-size: 10pt;
    font-weight: bold;
}

heading[level='6'] {
    text-transform: uppercase; /* Differentiates small headers */
    letter-spacing: 0.05em;
}

/* Paragraph styles */

para {
    display: block;
    margin-bottom: 1em; /* Space equal to font-size after paragraph */
    line-height: 1.5;   /* Comfortable reading height */
}

para[indent='1'] {

}

para[indent='2'] {
    margin-left: 2em;
}

para[indent='3'] {
    margin-left: 4em;
}

para[prefix]::before {
    font-weight: bold;
}

/* Prefixes */

heading[prefix]::before,
para[prefix]::before {
    content: attr(prefix) ' \00a0';
    display: inline-block;
}

/* List styles */

list, nlist {
    display: block;
    line-height: 1.6;
    margin-top: 0;
    margin-bottom: 1em;
    padding-left: 2em;    /* Indentation for bullets/numbers */
}

list {
    list-style-type: disc;
}

nlist {
    list-style-type: decimal;
}

item {
    display: list-item;
    margin-bottom: .25em; /* Slight separation between items */
}

/* Remove bottom margin for nested lists */
list list, nlist nlist, list nlist, nlist list {
    margin-bottom: 0;
}

list list {
    list-style-type: circle;
}

list list list {
    list-style-type: square;
}

nlist nlist {
    list-style-type: lower-alpha;
}

nlist nlist nlist {
    list-style-type: lower-roman;
}

/* Table styles */

table {
    display: table;
    border-collapse: collapse;
    margin: 12pt 0;
    width: 100%;
}

col {
    display: table-column;
}

row {
    display: table-row;
    page-break-inside: avoid;
}

col {
    display: none;
}

hcell,
row[part='header'] cell,
row[part='header'] hcell {
    font-weight: bold;
}

hcell, cell {
    display: table-cell;
    border: 1px solid;
    padding: 4pt 6pt;
}

/* Other */

preformat {
    display: block;
    font-family: monospace;
    margin-bottom: 1em; /* Space equal to font-size after paragraph */
    white-space: pre-wrap;
}

block {
    display: block;
    margin-bottom: 1em; /* Space equal to font-size after paragraph */
}


/* This should automatically be replaced in PDF */
image {
    display: inline-block;
    border-width: 1px 1px 1px 1px;
    margin: 0;
    padding: 0;
}

/* Inline styles */

bold {
    font-weight: bold;
}

italic {
    font-style: italic;
}

underline {
    text-decoration: underline;
}

monospace {
    font-family: monospace;
}

br:before {
    content: "\A";
    white-space: pre-line;
}
