/**
 * Build-in PSML styles
 */

@page {

    @top-left {
        margin: 10mm 0 5mm 0;
        content: element(title);
        font-family: 'Inter 18pt', 'Arial', sans-serif;
        font-size: 9pt;
        color: #ea007e;
    }

    @bottom-left {
        border-top: .25mm solid #ea007e;
        /*background: url("images/allette-logo-red.png") no-repeat 0 6mm;*/
        background-size: 24mm auto;
        width: 24mm;
        color: #ea007e;
        padding-left: 21mm;
        content: '';
    }

    @bottom-right {
        border-top: .25mm solid #ea007e;
        margin: 5mm 0 10mm 0;
        content: "Page " counter(page) " of " counter(pages);
        font-family: 'Inter 18pt', 'Arial', sans-serif;
        font-size: 9pt;
        color: #333;
    }

}

document {
    font-family: 'Inter 18pt', 'Arial', sans-serif;
    font-size: 9pt;
}

documentinfo > uri > displaytitle {
    position: running(title);
    text-align: left;
    color: #ea007e;
}

documentinfo > uri > description,
documentinfo > uri > labels {
   display: none;
}

blockxref documentinfo {
    display: none;
}

/* Title page -------------------- */

@page:first {
    /*background-image: url(images/title-cover-policy.png);*/
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: 210mm 297mm;

    @top-left { content: none; }
    @top-right { content: none; }
    @bottom-left { content: none; }
    @bottom-right {  content: none; }
}

section[id$='-title'] {
   height: 245mm;
   position: relative;
}

section[id$='-title']::after {
    content: '';
    position: absolute;
    bottom: -5mm;
    right: 0;
    display: block;
    height: 30mm;
    width: 66mm;
    /*background-image: url(images/allette-logo-white.png);*/
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom right;
}

blockxref section[id$='-title']::after {
    content: none;
}

heading[level='1'] {
    color: #3e0021;
    padding: 7cm 0 0;
    font-weight: 300;
}

block[label='pdf-date'] {
    color: #ea007e;
    font-size: 15pt;
    font-weight: 300;
}

/* TOC -------------------- */

toc-tree::before {
    color: #3e0021;
}

toc-part link::before {
    color: #ea007e;
}

/* Content ---------------- */

section[id$='-content'] {
    display: block;
    margin-left: 15mm;
}

blockxref section[id$='-content'] {
    margin:0;
    border: 0 none;
}

/* Headings and paragraphs -------------------- */

heading[prefix] {
    color: #3e0021;
}

heading[prefix]::before,
para[prefix][indent]::before {
    content: attr(prefix) ' \00a0';
    color: #ea007e;
    display: inline-block;
}

heading[prefix]::before {
    margin-left: -15mm;
    min-width: 15mm;
    text-align: right;
}

para[prefix][indent]::before {
    margin-left: -6mm;
    min-width: 6mm;
    text-align: left;
}

para[prefix][indent='1']{
    margin-left: 6mm
}

para[prefix][indent='2']{
    margin-left: 12mm
}

/* Tables -------------------- */

table,
table cell,
table hcell {
    border-color: #ea007e;
}

table row[part='header'] cell,
table row[part='header'] hcell {
    background-color: #ea007e;
}

/* Labels ------------- */

inline[label='ISO'],
inline[label='ISM'],
inline[label='SAMM'] {
    display: none;
}

block[label='TODO'] {
    display: none;
}
