/**
 * Build-in PSML styles
 */

@page {

    @top-left {
        margin: 10mm 0 5mm 0;
        content: element(title);
        font-family: 'Inter 18pt', 'Arial', sans-serif;
        font-size: 9pt;
        color: #0376BB;
    }

    @bottom-right {
        border-top: .25mm solid #0376BB;
        margin: 5mm 0 10mm 0;
        content: "Page " counter(page) " of " counter(pages);
        font-family: 'Inter 18pt', 'Arial', sans-serif;
        font-size: 9pt;
        color: #333;
    }

}

document {
    font-family: 'Inter 18pt', 'Arial', sans-serif;
    font-size: 9pt;
}

documentinfo > uri > displaytitle {
    position: running(title);
    text-align: left;
    color: #0376BB;
}

documentinfo > uri > description,
documentinfo > uri > labels {
   display: none;
}

/* Title page -------------------- */

@page:first {
    background-image: url(images/whale-cover.png);
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: 210mm 297mm;

    @top-left { content: none; }
    @top-right { content: none; }
    @bottom-left { content: none; }
    @bottom-right {  content: none; }
}

section[id='title'] {
   height: 245mm;
   position: relative;
}

heading[level='1'] {
    color: #00464c;
    padding: 7cm 0 0;
    font-weight: 300;
}

block[label='pdf-date'] {
    color: #0376BB;
    font-size: 15pt;
    font-weight: 300;
}

/* Content ---------------- */

section[id$='-content'] {
    display: block;
    margin-left: 15mm;
}
