/**
 * Build-in PSML styles
 */

@page {

    @top-left {
        margin: 10mm 0 5mm 0;
        content: element(title);
        font-family: 'Inter 18pt', 'Arial', sans-serif;
        font-size: 9pt;
        color: #ea007e;
    }

    @bottom-left {
        border-top: .25mm solid #ea007e;
        background-size: 24mm auto;
        width: 24mm;
        color: #ea007e;
        padding-left: 21mm;
        content: '';
    }

    @bottom-right {
        border-top: .25mm solid #ea007e;
        margin: 5mm 0 10mm 0;
        content: "Page " counter(page) " of " counter(pages);
        font-family: 'Inter 18pt', 'Arial', sans-serif;
        font-size: 9pt;
        color: #333;
    }

}

document {
    font-family: 'Inter 18pt', 'Arial', sans-serif;
    font-size: 9pt;
}

documentinfo > uri > displaytitle {
    position: running(title);
    text-align: left;
    color: #ea007e;
}

documentinfo > uri > description,
documentinfo > uri > labels {
   display: none;
}

blockxref documentinfo {
    display: none;
}

section, fragment {
    display: block;
}

/* Title page -------------------- */

@page:first {
    background-image: url(images/title-cover.png);
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: 210mm 297mm;

    @top-left { content: none; }
    @top-right { content: none; }
    @bottom-left { content: none; }
    @bottom-right {  content: none; }
}

section[id$='-title'] {
   height: 245mm;
   position: relative;
}

section[id$='-title']::after {
    content: '';
    position: absolute;
    bottom: -5mm;
    right: 0;
    display: block;
    height: 30mm;
    width: 66mm;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom right;
}

blockxref section[id$='-title']::after {
    content: none;
}

heading[level='1'] {
    color: #3e0021;
    padding: 7cm 0 0;
    font-weight: 300;
}

block[label='pdf-date'] {
    color: #ea007e;
    font-size: 15pt;
    font-weight: 300;
}

/* TOC -------------------- */

toc-tree::before {
    color: #3e0021;
}

toc-part link::before {
    color: #ea007e;
}

/* Content ---------------- */

section[id$='-content'] {
    display: block;
    margin-left: 15mm;
}

/* Labels ------------- */

block[label='TODO'] {
    display: none;
}
